@keyframes fadeIn {
	from {
		opacity: 0;
		transform: translate3d(0, -5%, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

.root-exp-div {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-top: 1%;
    animation: fadeIn 0.5s ease-in both;
}

.left-container, .right-container {
    width: 50%;
}

.left-container h1 {
    color: #4dd4ac;
    font-size: 4rem;
    padding-left: 12%;
}

.right-container h1 {
    color: #a1c4fd;
    font-size: 2.2rem;
    padding-left: 7%;
    padding-right: 12%;
    margin-top: 8%;
}

.left-container .blinking-cursor {
    -webkit-animation: 1s blink2 step-end infinite;
    -moz-animation: 1s blink2 step-end infinite;
    -ms-animation: 1s blink2 step-end infinite;
    -o-animation: 1s blink2 step-end infinite;
    animation: 1s blink2 step-end infinite;
}

.right-container .blinking-cursor2 {
    -webkit-animation: 1s blink3 step-end infinite;
    -moz-animation: 1s blink3 step-end infinite;
    -ms-animation: 1s blink3 step-end infinite;
    -o-animation: 1s blink3 step-end infinite;
    animation: 1s blink3 step-end infinite;
}

.skill-box {
    display: flex;
    flex-direction: row;
    margin-left: 7%;
    font-size: 1.2rem;
    flex-wrap: wrap;
    padding-right: 12%;
}

.achievements-box {
    display: flex;
    flex-direction: column;
    color: white;
    margin-top: 5%;
    margin-left: 7%;
    padding-left: 9%;
    padding-bottom: 5%;
    padding-top: 5%;
    padding-right: 3%;
    background-color: rgb(95, 114, 189, 0.25);
    border-radius: 6px;
    width: 73%;
}

.achievements-box ul {
    display: flex;
    flex-direction: column;
    /* color: white; */
}

.achievements-box h3 {
    font-size: 2rem;
    color: #a1c4fd;
}

.achievements-box li {
    color: #ccd6f6;
    margin: 1.5% 0%;
    font-size: 1.2rem;
}

.achievement-link {
    /* text-decoration: none; */
    color: #e35d6a;
    font-weight: bold;
}

.achievement-link:hover {
    text-decoration: none;
}
  
@keyframes blink2 {
    from, to {
        color: transparent;
    }
    50% {
        color: #4dd4ac;
    }
}

@-moz-keyframes blink2 {
    from, to {
        color: transparent;
    }
    50% {
        color: #4dd4ac;
    }
}

@-webkit-keyframes blink2 {
    from, to {
        color: transparent;
    }
    50% {
        color: #4dd4ac;
    }
}

@-ms-keyframes blink2 {
    from, to {
        color: transparent;
    }
    50% {
        color: #4dd4ac;
    }
}

@-o-keyframes blink2 {
    from, to {
        color: transparent;
    }
    50% {
        color: #4dd4ac;
    }
}

@keyframes blink3 {
    from, to {
        color: transparent;
    }
    50% {
        color: #a1c4fd;
    }
}

@-moz-keyframes blink3 {
    from, to {
        color: transparent;
    }
    50% {
        color: #a1c4fd;
    }
}

@-webkit-keyframes blink3 {
    from, to {
        color: transparent;
    }
    50% {
        color: #a1c4fd;
    }
}

@-ms-keyframes blink3 {
    from, to {
        color: transparent;
    }
    50% {
        color: #a1c4fd;
    }
}

@-o-keyframes blink3 {
    from, to {
        color: transparent;
    }
    50% {
        color: #a1c4fd;
    }
}

@media only screen and (max-width: 480px) {
    .root-exp-div {
        flex-direction: column;
        width: 100%;
        padding-top: 0%;
    }

    .left-container, .right-container {
        width: 100%;
    }

    .left-container h1 {
        font-size: 3rem;
        text-align: center;
        padding-left: 0%;
    }

    .right-container h1 {
        padding-right: 0%;
        padding-left: 0%;
        text-align: center;
        font-size: 1.5rem;
        width: 85%;
        /* margin: auto; */
        margin-left: auto;
        margin-right: auto;
        margin-top: 15%;
    }

    .skill-box {
        margin-left: auto;
        margin-right: auto;
        font-size: 1.2rem;
        flex-wrap: wrap;
        justify-content: center;
        padding-right: 0%;
    }

    .achievements-box {
        margin-left: auto;
        margin-right: auto;
        /* width: 85%; */
        margin-bottom: 10%;
        margin-top: 10%;
    }

    .achievements-box li {
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .root-exp-div {
        flex-direction: column;
        width: 100%;
        padding-top: 0%;
    }

    .left-container, .right-container {
        width: 100%;
    }

    .left-container h1, .right-container h1 {
        font-size: 5rem;
        text-align: center;
        padding-left: 0%;
    }

    .right-container h1 {
        padding-right: 0;
        font-size: 2.7rem;
    }

    .skill-box {
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: 80%;
        padding-right: 0;
    }

    .achievements-box {
        margin-bottom: 10%;
    }

    .achievements-box li {
        font-size: 1.8rem;
    }
}