.about-me-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(95, 114, 189, 0.25);
    border-radius: 6px;
    height: 100%;
    animation: fadeIn 0.5s ease-in both;
}

h4.about-me-heading {
    color: white;
    text-align: center;
    font-size: 2.5rem;
}

span.student-span {
    color: #FB4264;
}

span.engineering-span {
    color: #74ebd5;
}

.about-me-p {
    font-size: 1.5rem;
    color: white;
    width: 80%;
    text-align: center;
}

.final-p {
    width: 100%;
    margin-bottom: 4%;
    font-weight: bold;
    letter-spacing: 1px;
    background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.8rem;
}

.code-span {
    color: #43e97b;
}

@media only screen and (max-width: 480px) {
    .about-me-div {
        width: 90%;
        margin-bottom: 4%;
    }

    .final-p {
        padding-bottom: 2%;
        width: 80%;
    }

    h4.about-me-heading {
        font-size: 1.8rem;
        width: 95%;
    }

    .about-me-p {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .about-me-div {
        width: 90%;
    }

    .final-p {
        width: 80%;
    }

    h4.about-me-heading {
        font-size: 2rem;
        width: 95%;
    }

    .about-me-p {
        font-size: 1.5rem;
    }
}