@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

@font-face {
	font-family: 'SFPro';
	src: local('SFPro'), url(../fonts/SFPro.ttf) format('truetype');
}

@keyframes glitch-animation {
	0% {
		font-family: 'SFPro', serif;
	}
	90% {
		font-family: 'Source Code Pro', monospace;
	}
}

.animation-hook {
	animation: 10s glitch-animation step-end infinite;
}

.root-name-div {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin-left: 5vw;
}

.root-name-div h3 {
    font-family: 'SFPro', serif;
    color: white;
    font-size: 4rem;
}

.root-name-div h1 {
    /* font-family: 'SFPro', serif; */
    color: #667eea;
    font-size: 6rem;
	letter-spacing: 4px;
	padding-left: 15%;
}

.first-name {
	margin-bottom: 0;
	margin-top: 0;
}

.last-name {
	margin-top: 0;
}

.special-punctuation {
	color: #FB4264;
}

/* .first-name {
	color: transparent;
        -webkit-text-stroke-width: 0.5px;
       -webkit-text-stroke-color: #667eea;
    font-size: 100px;
} */

/* .blinking-cursor {
	-webkit-animation: 1s blink step-end infinite;
	-moz-animation: 1s blink step-end infinite;
	-ms-animation: 1s blink step-end infinite;
	-o-animation: 1s blink step-end infinite;
	animation: 1s blink step-end infinite;
}

@keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
}

@-moz-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
}

@-webkit-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
}

@-ms-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
}

@-o-keyframes blink {
	from, to {
		color: transparent;
	}
	50% {
		color: #66FF66;
	}
} */