/* .sidebar {
    height: 95vh;
    width: 9%;
    display: flex;
    margin-left: 4%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;

    background-color: rgb(95, 114, 189, 0.25); 
    background-size: 400% 400%;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6.0px );
    -webkit-backdrop-filter: blur( 6.0px );
    border-radius: 10px;
}

.nav-menu {
    transition: 800ms;
}

.nav-menu-items {
    padding: 0px;
}

.nav-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 75% 1%;
    font-size: calc(10px + 3vmin);
}

.fa-home, .fa-project-diagram, .fa-trophy, .fa-school, .fa-briefcase, .fa-link {
    color: #FB4264;
    transition: color 200ms;
}

.fa-home:hover, .fa-project-diagram:hover, .fa-trophy:hover, .fa-school:hover, .fa-briefcase:hover, .fa-link:hover {
    color: #FFD700;
}

.fa-times, .fa-bars {
    color: #84fab0;
} */

/* .sidebar {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 15vh;
    width: 100%;
}

.menu-bars {
    font-size: calc(10px + 3vmin);
    margin-left: 5vmin;
    background: none;
    color: #84fab0;
}

.nav-menu {
    height: 95vh;
    width: 9%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: -100%;
    transition: 850ms;
} */

.mega-sidebar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 15%;
    background-color: transparent;
    /* background-color: red; */
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    height: 10vh;
}

.menu-bars {
    font-size: calc(10px + 3vmin);
    color: #84fab0;
    position: fixed;
    left: -100%;
}

.menu-bars.active {
    font-size: calc(10px + 3vmin);
    position: static;
    color: #84fab0;
    margin-left: 11%;
    /* left: 0; */
}

.nav-menu {
    height: 95vh;
    width: 11%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 2.5%;
    bottom: 2.5%;
    left: -100%;
    transition: 850ms;
    background-color: rgb(95, 114, 189, 0.25); 
    background-size: 400% 400%;
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur(4px);
    /* -webkit-backdrop-filter: blur( 6.0px ); */
    border-radius: 10px;
}

.nav-menu.active {
    left: 2%;
    transition: 200ms;
}

.navbar-toggle {
    position: relative;
    bottom: 6%;
    /* flex-direction: column; */
    /* align-items: flex-start; */
    /* padding-bottom: 140% !important; */
    /* padding-top: 0 !important; */
}

.nav-text, .navbar-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70% 0;
    font-size: calc(10px + 3vmin);
}

ul {
    margin: 0;
    padding: 0;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fa-home, .fa-project-diagram, .fa-trophy, .fa-school, .fa-briefcase, .fa-link {
    color: #FB4264;
    transition: color 200ms;
}

.fa-home:hover, .fa-project-diagram:hover, .fa-trophy:hover, .fa-school:hover, .fa-briefcase:hover, .fa-link:hover {
    color: #FFD700;
}

.fa-times, .fa-bars {
    color: #84fab0;
}

@media only screen and (max-width: 480px) {
    .menu-bars.active {
        margin-left: 45%;
        font-size: calc(10px + 6vmin);
    }

    .nav-menu {
        width: 45%;
    }

    .nav-text, .navbar-toggle {
        font-size: calc(10px + 6vmin);
    }

    .mega-sidebar {
        height: 10%;
        width: 100%;
        flex-direction: row;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .menu-bars.active {
        margin-left: 45%;
        font-size: calc(10px + 5vmin);
    }

    .nav-menu {
        width: 25%;
    }

    .nav-text, .navbar-toggle {
        font-size: calc(10px + 5vmin);
    }

    .mega-sidebar {
        height: 10%;
        width: 100%;
        flex-direction: row;
    }
}