.div-skillbox {
    display: inline;
    padding: 1% 2%;
    margin-right: 2%;
    margin-top: 2%;
    /* justify-content: center; */
    /* align-items: center; */
    color: #92fe9d;
    /* font-size: 1.2rem; */
    border-radius: 8px;
    background-image: linear-gradient(135deg, rgba(245, 247, 250, 0.25) 0%, rgba(195, 207, 226, 0.25) 100%);
    overflow-wrap: break-word;
}

.div-skillbox p {
    display: inline;
    color: #ccd6f6;
    white-space: initial;
}